<div class="container-fluid landing">
  <app-navbar></app-navbar>
  <div class="col-md-12 main">
    <div class="col-md-4 crud">
      <h2>What is CRUD?</h2>
      <p>CRUD is an acronym that comes from the world of computer programming and
         refers to the four functions that are considered necessary to implement a
         persistent storage application: create, read, update and delete.
         Persistent storage refers to any data storage device that retains power
         after the device is powered off, such as a hard disk or a solid-state drive.
        In contrast, random access memory and internal caching are two examples of
        volatile memory - they contain data that will be erased when they lose power.
      </p>
      <p>I am going to demonstrate CRUD functionality using a WorkPlan application</p>

      <a routerLink="/workplan"><button type="button" class="btn btn-light">WorkPlan</button></a>



    </div>
  </div>

  <div class="footer">
    <p>Copyright © CRUDWorkPlan {{currentYear}}</p>
  </div>



</div>
