.workplan{
  height: 100%;
  background-image: url(../../../assets/wp4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.goals{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: white; */
  height: 80%;


}



.goals h5{
  text-align: center;
  color: white;
}

.workplan-goals{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button{
  display: flex;
  justify-content: center;
}

button{
  font-size: 17px;

}


table {
  font-family: 'Redressed', cursive;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

}

th{
  color: white;
  background-color: none;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: rgb(15, 14, 14, 0.9);
  color: white;
}
th{
  color: white;
  background-color: none;
}

form{
  font-size: 20px;
}



.details{
  background-color: white;
  height: 100%;
  color: black;
}



@media only screen and (max-width: 600px) {

  table{
    font-size: 11px !important;
  }

   button{
    font-size: 12px !important;

  }
  .workplan{
    background-image:url(../../../assets/wp1.jpg);

  }

  /* linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), */

}
