.single-goal{
  height: 100%;
  background-image: url(../../../assets/wp1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.workplan-detail{
  display: flex;
  justify-content: center;
  height: 80%;
}


.details{
  background-color: rgb(236, 235, 250, 0.9);
  height: 100%;

}

.details h5 , .details h6{
  text-align: center;
}

.objectives, .strategy, .resources{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.content{
  display: flex;
  background-color: rgb(63, 59, 59, 0.3);
  height: 100%;
  width: 95%;
  border-radius: 3px;
}

.rw{
  display: flex;
  justify-content: center;
}

.rw button{
  width: 80px;
}

button{
  font-size: 16px;
}

form{
  font-size: 20px;
}

.main{
  height: 700px;
}

.modal-header h6{
  text-align: center;
}
